body {
    font-family: 'Roboto', sans-serif;
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 20%;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.questionsArea,
.flaggedQuestions {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    width: 48%;
    box-sizing: border-box;
    transform: scale(0.95);
    overflow-y: auto;
    margin-bottom: 20px;
}
.flaggedQuestions{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.question {
    margin-bottom: 20px;
    color: black;
    transition: opacity 0.5s ease-in-out;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.answers button {
    background-color: #1d1160;
    color: #fff;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}.answers .answer-btn {
            background-color: #1d1160;
            color: #fff;
            padding: 12px;
            border: 1px solid transparent;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        .answers .answer-btn:hover {
            background-color: #37B5B6;
        }

.answers button:hover {
    background-color: #6a5acd;
}

.flaggedQuestions h3 {
    color: white;
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

#flaggedList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#flaggedList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #1d1160;
    border: 1px solid #4b0082;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
}

#flaggedList li:hover {
    background-color: #37B5B6;
    color: #fff;
}

#flaggedList li span {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flaggedQuestions button {
    background-color: #800080;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.flaggedQuestions button:hover {
    background-color: #37B5B6;
}

.progress-container,
.timer-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-container {
    height: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 2;
    direction: rtl;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4b0082;
    border-radius: 10px;
    transition: width 0.5s;
}

.progress-text {
    color: #4b0082;
    margin-right: 10px;
}

.timer-container {
    display: flex;
    justify-content: end;
    padding-right: 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.controlBtns button,
#unflagBtn,
.submitBtn {
    background-color: #322653;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}
#unflagBtn {
    width: 100%;
    margin-top: auto; 
}

.flaggedQuestions {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.controlBtns button:disabled,
.submitBtn:disabled {
    background-color: transparent;
    border: 1px solid #1d1160;
    cursor: not-allowed;
}

.controlBtns button:hover,
#unflagBtn:hover,
.submitBtn:hover {
    background-color: #6528F7;
}

.submitBtn.open {
    background-color: #4caf50;
}
.count {
    text-align: center;
}

.countNum {
    background-color: transparent;
    
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}
.submitBtn{
    margin-left: 80%;
    margin-top: 30px;
}
.controlBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.progress-container{
    width: 50%;
}
.questionsCount{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
}