body{
    margin: 0px;
    padding: 0px;
    background-image: url("./background2.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}
main{
    padding: 50px 0px;
    margin: 180px auto;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: rgba(110, 53, 148, 0.2);
    width: 20%;
    color: white;
    font-size: 24px;
}
.result{
    padding: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: rgba(110, 53, 148, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}